html {
  font-size: 16px;
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: visible;
  /* border: 1px solid black; */
}

.left-header {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: flex-start; */
  /* overflow: visible; */
  width: fit-content;
  /* border: 1px solid black; */
  gap: 24px;
}

.right-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 32px;
  /* margin: 0; */
}

.content {
  display: flex;
  flex-direction: row;
  gap: 32px;
  margin: 64px 0px;
  /* border: 1px solid black; */
}

.App {
  margin: 128px 64px;
}
